body {
  background-image: linear-gradient(120deg, #f6d365, #fda086);
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 15px;
}

.box {
  width: auto;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: orange solid 2px;
}

.box:hover {
  background-color: rgb(255, 216, 143);
}

.crossicon {
  font-size: 35px;
  color: red;
}

.circleicon {
  font-size: 35px;
  color: green;
}

.penicon {
  font-size: 35px;
  color: grey;
}
